<!DOCTYPE html>
include ../node_modules/bemto.pug/bemto
html
head
    meta(charset="UTF-8")
    title Effective JavaScript: Frogger
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/bundle.min.css")
    style.
        li {
            transition: .2s ease all
        }
        li.active {
            display: block !important;
            color: red;
            opacity: 1 !important;
        }
        li.fade {
            opacity: 0;
            display: none
        }

body.body(data-list='{"A":[{"title":"Aa","link":"http:\/\/google.com"},{"title":"Ab","link":"http:\/\/google.com"}],"B":[{"title":"Bbsdf","link":"http:\/\/google.com"}],"s":[{"title":"sfsdf","link":"http:\/\/google.com"}],"c":[{"title":"cdsgvsdf","link":"http:\/\/google.com"}],"q":[{"title":"qqq","link":"http:\/\/google.com"}],"a":[{"title":"aaaafsdf","link":"http:\/\/google.com"}]}')
    -var data = {"A":[{"title":"Aa","link":"http:\/\/google.com"},{"title":"Ab","link":"http:\/\/google.com"}],"B":[{"title":"Bbsdf","link":"http:\/\/google.com"}],"s":[{"title":"sfsdf","link":"http:\/\/google.com"}],"c":[{"title":"cdsgvsdf","link":"http:\/\/google.com"}],"q":[{"title":"qqq","link":"http:\/\/google.com"}],"a":[{"title":"aaaafsdf","link":"http:\/\/google.com"}]}
    input(type="text" onkeyup="loopOverObject()")
    input(type="submit" )

    ul
        each el, index in data
            p=index
            each word in el
                li=word.title
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script.
        const LIST = $('.body').data('list')
        function loopOverObject() {
            let searchQuery = $('input[type="text"]').val()
            console.log(searchQuery)
            for (let key in LIST) {
                if (LIST.hasOwnProperty(key)) {
                    let displayedResult = LIST[key].filter(function(el) {
                        let searchValue = el.title.toLowerCase();
                        //console.log(searchValue);
                        //- console.log(searchValue)
                        return searchValue.indexOf(searchQuery) !== -1;
                    });
                    //- console.log(displayedResult)

                    for (let i = 0; i < displayedResult.length; i++) {
                        $('li.keyword').each(function() {
                            if ($(this).text() === displayedResult[i]) {
                                $('li.keyword').addClass('fade');
                                $(this).addClass('active');

                            } else {


                            }

                        })
                    }

                }
            }
        }

