<!DOCTYPE html>
include ../node_modules/bemto.pug/bemto
html
head
    meta(charset="UTF-8")
    title Effective JavaScript: Frogger
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/bundle.min.css")
-var data = [{src: './video/vasizstas.mp4', description:['As snobs, we prefer making','significantly perfect'], paragraph: ['MOBILE','APPLICATIONS']},{src: './video/ole.mp4', description:['As snobs, we prefer making','significantly perfect'], paragraph: ['WEB','DEVELOPMENT']},{src: './video/xu.mp4', description:['As snobs, we prefer making','significantly perfect'], paragraph: ['DESIGN']}]
body.body
    .slider-container
        //- (style="visibility:hidden;opacity:0")
        .dots-wrapper
            -for(var i = 0; i < 100; i++)
                .dot
        a.menu-toggler() menu
        a.menu-close().icon-close

        +b.range-slider
            +e.anchors
                +e.anchor
                +e.anchor
                +e.anchor
                +e.anchor

            +e.INPUT(type="text" id="controls" name="controls" value="").range
        .swiper-container.swiper-container-vertical1
            .swiper-wrapper
                +b.swiper-slide.swiper-slide--menu-wrapper
                    .container
                        +e.section.section--left
                            .swiperH-pagination

                        +e.section.section--center
                        +e.section.section--right
                .swiper-slide.active
                    .swiper-container.swiper-container-h
                        .swiper-wrapper
                            +b.swiper-slide.swiper-slide--horizontal
                                h2.text We are not snobs, we are just better than everyone else. Be our guest

                            each el, i in data 
                                +b.swiper-slide.swiper-slide--horizontal(data-id=i, data-name=el.paragraph.toString().split(',').join(' '))
                                    .swiper-container(class='swiper-container-v--' + i).swiper-container-v
                                        .swiper-wrapper
                                            +b.swiper-slide
                                                .video-cont(data-swiper-parallax="0")
                                                    video.video(width="320" height="240"  )
                                                        source(src=el.src type="video/mp4")
                                                +e.head-description
                                                    each h3 in el.description
                                                        +e.H3.description=h3
                                                +e.text()
                                                    each p in el.paragraph
                                                        +e.P.paragraph(data-swiper-parallax="100")=p
                                                +e.goto-wrapper(data-swiper-parallax="0")
                                                    +e.A.goto learn more
                                            +b.swiper-slide.swiper-slide--first
                                                .wrapper.wrapper--black
                                                    +e.content
                                                        +e.H3.description(data-swiper-parallax="-100%") Lorem ipsum
                                                        +e.P(data-swiper-parallax="-100%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna consequat.
                                                        +e.P(data-swiper-parallax="-100%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna 
                                                            span consequat.
                                            +b.swiper-slide
                                                .wrapper.wrapper--black
                                                    +e.content
                                                        +e.img-wrapper(data-swiper-parallax="-1000%")
                                                            +e.mask
                                                            +e.img(src="./images/redhead.png")
                                                        +e.H3.description(data-swiper-parallax="-1000%") Lorem ipsum
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna consequat.
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna 
                                                            span consequat.
                                            +b.swiper-slide
                                                .wrapper.wrapper--black
                                                    +e.content
                                                        +e.H3.description(data-swiper-parallax="-1000%") Lorem ipsum
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna consequat.
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna 
                                                            span consequat.
                                            +b.swiper-slide
                                                .wrapper.wrapper--black
                                                    +e.content
                                                        +e.img-wrapper(data-swiper-parallax="-1000%")
                                                            +e.mask
                                                            +e.IMG(src="./images/redhead.png").img
                                                        +e.H3.description(data-swiper-parallax="-1000%") Lorem ipsum
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna consequat.
                                                        +e.P(data-swiper-parallax="-1000%") Incididunt in laborum duis mollit anim exercitation exercitation dolor velit mollit id ullamco ea ut quis culpa commodo dolor nostrud ex culpa sit dolor incididunt nostrud officia tempor ex magna 
                                                            span consequat.
                                            +b.swiper-slide.swiper-slide--map
                                                +b.map-container
                                                    +e.IMG(src="./images/map.png").bg-img
                                                    -for(let i =0; i < 10; i++)
                                                        +e.dot.icon-stop2

                                        .swiperV-pagination
                                +b.swiper-slide
    .main-text-start
        p Click to enter website
    .main-text
        p DRAG THE DIAMOND RIGHT
    script(src="./scripts/probe.js")


