<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Effective JavaScript: Frogger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bundle.min.css">
</head>
body.body
    .slider-container
        //- (style="display:none;")
        .main-text-start
            p Click to enter website
        .main-text
            p DRAG THE DIAMOND RIGHT
        .range-slider
            .range-slider__anchors
                .range-slider__anchor
                .range-slider__anchor
                .range-slider__anchor
                .range-slider__anchor

            input(type="text" id="controls" name="controls" value="").range-slider__range
        .slides
            .slide.slide--0
                H2.slide__teaser We are not snobs. We are just better than everyone else. Be our guest.
                video(width="320" height="240" loop)
                    source(src="./video/ole.mp4" type="video/mp4")
                .slide__head-description
                    h3.slide__description As snobs, we prefer making
                    h3.slide__description significantly perfect
                .slide__text
                    span.slide__paragraph WEB 
                    span.slide__paragraph DEVELOPMENT
            .slide.slide--1
                video(width="320" height="240" loop)
                    source(src="./video/vasizstas.mp4" type="video/mp4")
                .slide__head-description
                    h3.slide__description As snobs, we prefer making
                    h3.slide__description significantly perfect
                .slide__text
                    span.slide__paragraph MOBILE
                    span.slide__paragraph APPLICATIONS
            .slide.slide--2
                video(width="320" height="240" loop)
                    source(src="./video/xu.mp4" type="video/mp4")
                .slide__head-description
                    h3.slide__description As snobs, we prefer making
                    h3.slide__description significantly perfect
                .slide__text
                    span.slide__paragraph DESIGN

        script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
        script(src="./scripts/ion.rangeSlider.min.js")
        script(src="./scripts/pixi.min.js")
        script(src="./scripts/type.min.js")
        script(src="./scripts/probe.js")
</body>
</html>
